*{
    font-family: 'Courier New', Courier, monospace;
}

.container{
    display: flex;
    justify-content: space-around;
    width: 70%;
    height: 150px;
    margin-left: 10%;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h1{
    text-align: center;
}

