/* You can add global styles to this file, and also import other style files */
button{ 
    background:black;
    color: white;
    padding: 10px;
    margin: 0 10px;
    border-radius: 8px;
    cursor: pointer;
}